/* page.module.css */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f7f7;
  padding: 20px;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  height: 30%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
}

.submitCont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #333;
}

.closeButton:hover {
  color: red;
}

/* Add styles for status buttons */
.statusButtons {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

/* Style for each status button */
.statusButton {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.statusButton:hover {
  background-color: #0056b3;
}

/* Style for active status button */
.activeButton {
  background-color: #0056b3;
}

/* Style for submit button */
.submitButton {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #218838;
}

/* Style for cancel button */
.cancelButton {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancelButton:hover {
  background-color: #c82333;
}

/* page.module.css */

/* Add styles for answer modal */
.answerInput {
  width: 100%;
  height: 150px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin-bottom: 10px;
}

/* Adjust other styles as per your design */

/* Adjust other styles as per your design */

.heading {
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
  color: #333;
}

.form {
  background: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.label {
  font-family: "Arial", sans-serif;
  color: #555;
}

.input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.textarea {
  width: 100%;
  height: 100px;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

.button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

.cardContainer {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  width: 100%;
  max-width: 1220px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 340px;
}

.statusNew {
  background-color: red;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-size: 0.75rem;
  text-transform: uppercase;
  align-self: flex-end;
}

.statusInProgress {
  background-color: #e8e833;
  color: black;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-size: 0.75rem;
  text-transform: uppercase;
  align-self: flex-end;
}

.statusResolved {
  background-color: green;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-size: 0.75rem;
  text-transform: uppercase;
  align-self: flex-end;
}

.cardHeader {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.cardBody {
  flex-grow: 1;
  overflow: hidden;
}

.description {
  max-height: 80px;
  overflow-y: auto;
  word-wrap: break-word;
}

.answer {
  max-height: 100px;
  overflow-y: auto;
  word-wrap: break-word;
}

.filterContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.filter {
  width: 130px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.filter:hover {
  background-color: lightgray;
}

.selectedFilter {
  width: 130px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  color: white;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

/* page.module.css */
.editButton {
  background-color: #b2b8bd;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.editButton:hover {
  background-color: #a0a6ab;
}

.editButton:active {
  transform: scale(0.98);
}

.answerButton {
  background-color: #007bff;
  /* background-color: #b2b8bd; */
  color: white;
  border: none;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.answerButton:hover {
  background-color: #0056b3;
}

.answerButton:active {
  transform: scale(0.98);
}

.skeletonWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.editButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  align-items: center;
}

.skeletonBox {
  width: 400px;
}

@media (max-width: 768px) {
  .selectedFilter {
    width: 100%;
  }
  .filter {
    width: 100%;
  }

  .filterContainer {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .skeletonWrapper {
    flex-direction: column;
  }

  .skeletonBox {
    width: 200px;
  }

  .description {
    max-height: 180px;
  }
  .answer {
    max-height: 100px;
  }

  /* page.module.css or your custom CSS file */
  input,
  textarea,
  select,
  button {
    font-size: 16px; /* Set a standard font size */
    -webkit-text-size-adjust: 100%; /* Prevent font scaling on mobile */
  }

  .modalContent {
    width: 100%;
  }
}
